app/backend/src/mod/conversations/checkpoint.sqlite
src/mod/conversations/checkpoint.sqlite-shm
src/mod/conversations/checkpoint.sqlite-wal
servers/*
servers
app/backend/src/mod/__pycache__
app/frontend/src/__pycache__
app/mod-agent/src/__pycache__

app/backend/.env
app/frontend/.env
app/mod-agent/.env

app/backend/src/mod/app.log
app/frontend/src/app.log
app/backend/src/mod/enums/__pycache__
app/backend/src/mod/errors/__pycache__
app/backend/src/mod/models/__pycache__
app/mod-agent/src/__pycache__
app/mod-agent/src/agent/__pycache__
app/mod-agent/src/enums/__pycache__
app/mod-agent/src/errors/__pycache__
app/mod-agent/src/models/__pycache__