# Make sure your environment file is called `.env`
BUILD_TARGET=prod # Specifies the target you want to build from the Dockerfile
UPLOAD_FOLDER=uploads
MAX_UPLOAD_SIZE=16777216
CONVERSATION_STORAGE_DIR=conversations 
MAX_CONVERSATIONS_IN_MEMORY=100
FLASK_HOST=0.0.0.0
FLASK_PORT=5000
FLASK_DEBUG=false
OPENAI_API_KEY=Your-OpenAI-API-Key
ANTHROPIC_API_KEY=Your-Anthropic-API-key
GEMINI_API_KEY=Your-Gemini-API-key
DB_CONNECTION_STRING=postgresql://postgres:pgpass@postgres:5432/modchat