# Make sure your environment file is called `.env`
LOG_LEVEL=debug
LLM_VENDOR=openai
LLM_MODEL=gpt-4.1-mini
OPENAI_API_KEY=Your-OpenAI-API-Key
ANTHROPIC_API_KEY=Your-Anthropic-API-key
GEMINI_API_KEY=Your-Gemini-API-key
AGENT_BASE_URL="http://localhost:9999"
FRONTEND_EXTERNAL_PORT=8888
FRONTEND_INTERNAL_PORT=8000
FRONTEND_EXTERNAL_BASE_URL=http://localhost:${FRONTEND_EXTERNAL_PORT}
FRONTEND_INTERNAL_BASE_URL=http://modchat-frontend:${FRONTEND_INTERNAL_PORT}
BACKEND_EXTERNAL_PORT=5555
BACKEND_INTERNAL_PORT=5000
BACKEND_EXTERNAL_BASE_URL=http://localhost:${BACKEND_EXTERNAL_PORT}
BACKEND_INTERNAL_BASE_URL=http://modchat-backend:${BACKEND_INTERNAL_PORT}
